* {
  box-sizing: border-box;
}

body {
  height: 1000px;
  width: 960px;
  background-color: firebrick; 
  background-image: url("../pages/assets/energy-flow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #00d4ff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.triptych-containers {
  float: left;
  height: 965px;
  margin-top: 35px;
  border: yellow 5px solid;
}

#game-screen-left{
  width: 20%;
}

#game-screen-center{
  width: 60%;
}

#game-screen-right{
  width: 20%;
}

#game-board {
  height: 460px;
  width: 500px;
  background-image: url("../pages/assets/metal-game-board.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

#play-field {
  height: 370px;
}

.portraits {
  height: 100px;
  width: 100px;
  border-radius: 25px;
}

.hands > * {
  display: inline-block;
  
}

.hands > div {
  background-color: blue; 
}

.hands > div > div {
  display: inline-block;
  background-color: yellow;
}

.hands {
  text-align: center;
  background-color: white;
}

#opponent-deck {
  float: left;
}

#player-deck {
  float: right;
}

.players > * {
  display: inline-block; 
}

.players {
  position: relative;
  text-align: center;
  width: 100px;
  background-color: darkmagenta;
  margin: auto;
}

.cards {
  width: 70px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.cards img {
  width: 100%;
}

.players-cards {
  transition: all .5s;
}

.players-cards:hover {
  transform: scale(2.5); 
}

#opponent-name {
  position: absolute;
  top: 40px;
  left: -90px;
}

#player-name {
  position: absolute;
  top: 40px;
  left: -90px;
}

#marquee-container {
  border: 5px solid grey;
}

button {
  background-color: grey;
  color: #00d4ff;
  border: 2px solid #00d4ff; 
  border-radius: 25px;
  font-size: 25px;
}

input {
  background-color: grey;
  color: #00d4ff;
  border: 2px solid #00d4ff; 
  border-radius: 25px;
  font-size: 25px;
}


progress {
  height: 20 px;
}

/* Figure these out later  */

/* 
.button:hover {
  background-color: #00d4ff; 
  color: grey;
  border: 2px solid grey;
} */

/* #game-title {
  font-size: 40px;
  font-style: bold;
  color: #201d57;
  text-decoration: underline;
  text-align: center;
} */

