* {
  box-sizing: border-box;
}

body {
  height: 1000px;
  width: 960px;
  background-color: ghostwhite; 
  background-image: url("../pages/assets/white-geometry-07.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #201d57;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#title-banner-container {
  position: relative;
  z-index: -1;
}

#game-title {
  position: absolute;
  font-size: 50px;
  font-style: italic;
  color: #00d4ff;
  text-decoration: underline;
  text-align: center;
  left: 30%;
  top: 10px;
  width: 40%;
  background-color: transparent;
}

#intro-screen-banner {
  display: block;
  height: 500px;
  width: 350px;
  border: 5px ridge darkslategrey;
  border-radius: 15px;
  margin: 20px auto;
  z-index: -1;
}

#results-screen-banner {
  display: block;
  height: 500px;
  width: 350px;
  border: 5px ridge darkslategrey;
  border-radius: 15px;
  margin: 20px auto;
  z-index: -1;
}

#game-results-container {
  position: absolute;
  top: 260px;
  left: 310px;
  padding: 10px;
  margin: 10px auto 10px;
  text-align: center;
}

#game-results-text {
  background-color: deepskyblue;
  padding: 10px;
  margin: 10px auto 10px;
  display: inline-block;
  border: 5px ridge darkslategrey;
  border-radius: 15px;
}

#game-results-text p {
  padding: .25em;
}

#game-results-header {
  text-decoration: underline;
  font-weight: bold;
}

#Player {
  margin: 20px auto 20px;
  text-align: center;
}

.triptych-containers {
  float: left;
  height: 1200px;
  margin-top: 35px;
}

#game-screen-left{
  width: 20%;
}

#game-screen-center{
  width: 60%;
}

#game-screen-right{
  width: 20%;
}

#game-board {
  height: 460px;
  width: 500px;
  background-image: url("../pages/assets/metal-game-board.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  border: 5px ridge darkslategrey;
  border-radius: 15px;
  padding: 10px;
}

#play-field {
  height: 330px;
}

.portraits {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.hands > * {
  display: inline-block;
  
}

/* Opponent/Player Decks */
.hands > div {
  background-color: #383428; 
  border: 5px ridge darkslategrey;
  border-radius: 15px;
  margin: 20px;
  padding: 10px;
}

.hands > div > div {
  display: inline-block;
  background-color: deepskyblue;
}

.hands {
  text-align: center;
}

.decks {
  height: 100px;
  width: 70px;
  border: 5px ridge darkslategray;
  border-radius: 15px;
  background-image: url("../pages/assets/energy-flow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#opponent-deck {
  float: left;
}

#player-deck {
  float: right;
}

.players > * {
  display: inline-block; 
}

.players {
  position: relative;
  text-align: center;
  width: 110px;
  height: 110px;
  margin: 20px auto 20px;
  background-image: url("../pages/assets/Ginger.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 5px ridge darkslategray;
  border-radius: 15px;
  z-index: -1;
}

.cards {
  width: 70px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  font-family: 'Akronim';
  border: 5px ridge darkslategrey;
  border-radius: 15px;
}

.cards img {
  width: 100%;
}

.players-cards {
  transition: all .5s;
}

.players-cards:hover {
  transform: scale(2.25); 
}

#opponent-name {
  position: absolute;
  top: 40px;
  left: -150px;
  background: grey;
  border-radius: 15px;
  padding: 5px;
}

#player-name {
  position: absolute;
  top: 40px;
  left: -90px;
}

.card-backs {
  height: 110px;
  width: 70px;
  border: 5px ridge darkslategray;
  border-radius: 15px;
  background-image: url("../pages/assets/energy-flow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#scrollbox-container {
  margin: 10px;
  border: 5px ridge darkslategray;
  background-color: deepskyblue;
  border-radius: 15px;
  position: relative;
  top: 380px;
  padding: 10px;
  z-index: -1;
}

#scrollbox-container > p {
  text-decoration: underline;
  margin: 5px;
  z-index: -1;
}

#game-log {
   height:200px;
   width:100%;
   overflow: auto;
  z-index: -1;
}

button {
  background-color: grey;
  color: #00d4ff;
  border: 2px solid #00d4ff; 
  border-radius: 25px;
  font-size: 25px;
  padding: 10px;
}

input {
  background-color: grey;
  color: #00d4ff;
  border: 2px solid #00d4ff; 
  border-radius: 25px;
  font-size: 25px;
  margin: 20px auto 20px;
}

/* Health bar and title positioning. */
#opponentHealth {
  position: relative;
  top: 150px;
  right: 100px;
}

#opponent-health-title {
  position: relative;
  top: 20px;
  font-size: 25px;
  text-decoration: underline;
  width: 150%;
  right: 90px;
}

#playerHealth {
  position: relative;
  top: 510px;
  left: 50px;
  z-index: -1;
}

#player-health-title {
  position: relative;
  top: 700px;
  left: 75px;
  font-size: 25px;
  text-decoration: underline;
  z-index: -1;
}

/* Progress bar styling. */

progress {
  transform: rotate(270deg);
  
}

progress[value] {
  width: 250px;
  height: 40px;
  border: 5px ridge darkslategray;
  border-radius: 15px;
}

progress[value]::-webkit-progress-bar {
  border-radius: 10px;
  background-color: #383428; 
}

progress[value]::-webkit-progress-value {
  background-image:
	   
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
     -webkit-linear-gradient(left, #09c, #f44);
     
     -webkit-border-radius: 5px;

    border-radius: 4px, 4px; 
    background-size: cover;

}

/* Scrollbar styling */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: grey; 
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: darkslategrey;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #383428; 
}

/* Styling for the menu navigation */

#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 250px;
  margin-top: 30px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
}

.sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li {
  list-style: none;
  color: #00d4ff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
}

.sidebarMenuInner li a {
  color: #00d4ff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

/* Styling for the hamburger button */

input[type="checkbox"]:checked ~ #sidebarMenu { transform: translateX(0); }

input[type=checkbox] {
  transition: all 0.3s;
  display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}

.spinner {
  transition: all 0.3s;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #00d4ff;
}

.horizontal {
  transition: all 0.3s;
  position: relative;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.3s;
  position: relative;
  float: left;
  margin-top: 3px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  transform: rotate(-135deg);
  margin-top: -9px;
}

/* Game rules modal styling. */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: #201d57;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.sidebarMenuInner li span.close  {
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}